{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="static/css/base.css">
  </head>
  <body>
    <header>
      <div class="nav-left">
        <h1><a href="{% url 'home' %}">Home</a></h1>
      </div>
      <div class="div-right">
          <h1><a href="{% url 'post_new' %}">New Blog</a></h1>
      </div>
    </header>
    {% if user.is_authenticated %}
      <p>Hi {{ user.username }}!</p>
      <p><a href="{% url 'logout' %}">Log Out</a></p>
    {% else %}
      <p>you are not logged in.</p>
      <a href="{% url 'login' %}">Log In</a>
      <a href="{% url 'signup' %}">Sign Up</a>
    {% endif %}
    <div class="">
      {% block content %}
      {% endblock content %}
    </div>
  </body>
</html>
